.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(92, 103, 201);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.mainDiv,
.kittensDiv,
.puppiesDiv {
  text-align: center;
}
.pageImage {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgb(140, 163, 216);
}
