.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(92, 103, 201);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.mainDiv,
.kittensDiv,
.puppiesDiv {
  text-align: center;
}
.pageImage {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgb(140, 163, 216);
  
}
button {
  display: flex;
  font-size: 20px;
  padding: 10px 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50px;
  border: 1px solid gray;
  cursor: pointer;
}
button:hover {
  background-color: lightgray;
}

video {
  display: flex;
  margin: 0 auto;
  border-radius: 15px;
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.75));
}